* {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0;
  margin: 0;
}
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background-color: #a6bb8d;
}
.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: #61876e;
  height: fit-content;
}

h1 {
  color: #eae7b1;
}
.inputContainer {
  /* border: 1px solid purple; */
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  position: relative;
}
button,
input {
  padding: 0.5rem;
}
button {
  cursor: pointer;
  flex: 2;
  border: none;
  background-color: #eae7b1;
  color: #3c6255;
  font-weight: bold;
}
input {
  flex: 8;
  border: 2px solid transparent;
  outline: none;
}
small {
  color: red;
  font-weight: bold;
  position: absolute;
  top: 1rem;
  left: 2rem;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 2rem;
  align-items: center;
  background-color: #3c6255;
  max-height: 75vh;
  height: fit-content;
  overflow-y: auto;
}
ul::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
ul::-webkit-scrollbar-thumb {
  background-color: #eae7b1;
  border-radius: 5px;
}
li {
  list-style: none;
  cursor: pointer;
  background-color: #eae7b1;
  padding: 0.5rem;
  font-weight: bold;
  width: 100%;
  animation: 0.3s ease-out 0s 1 strechOut;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .App {
    width: 90%;
  }
  .inputContainer {
    flex-direction: column;
    padding: 1rem;
  }
  input,
  button {
    width: 100%;
  }
  small {
    top: 0rem;
    left: 1rem;
  }
}
button.delete-btn {
  border: none;
  background-color: transparent;
  color: red;
  display: inline-block;
  max-width: max-content !important;
}
button.delete-btn:hover {
  font-weight: bolder;
}
@keyframes stretchOut {
  0% {
    width: 20%;
  }
  100% {
    width: 100%;
  }
}
@keyframes stretchIn {
  0% {
    width: 100%;
  }
  20% {
    width: 120%;
  }
  100% {
    width: 0%;
  }
}
.deleted {
  animation: stretchIn 0.3s ease 0s 1;
}
